build
dist
pyradi.egg-info
__pycache__
*.pyc
Backup_of_*.cdr
/pyradi/test/image-Disk-256-256.hdf5
/pyradi/test/image-Disk-256-256.png
/pyradi/test/image-E-W-m2-detector-100-256-100-256.png
/pyradi/test/image-StairIR-raw-100-256.hdf5
/pyradi/test/image-StairIR-raw-100-256.png
/pyradi/test/image-Stairslin-10-250-250-lookup.png
/pyradi/test/image-Stairslin-10-250-250.hdf5
/pyradi/test/image-Stairslin-10-250-250.png
/pyradi/test/image-Stairslin-40-100-520-lookup.png
/pyradi/test/image-Stairslin-40-100-520.hdf5
/pyradi/test/image-Stairslin-40-100-520.png
/pyradi/test/image-Stairslin-LowLight-40-100-520-lookup.png
/pyradi/test/image-Stairslin-LowLight-40-100-520.hdf5
/pyradi/test/image-Stairslin-LowLight-40-100-520.png
/pyradi/test/image-StairslinIR-40-100-520-lookup.png
/pyradi/test/image-StairslinIR-40-100-520.hdf5
/pyradi/test/image-StairslinIR-40-100-520.png
/pyradi/test/image-Uniform-256-256.hdf5
/pyradi/test/image-Uniform-256-256.png
/pyradi/test/image-Zero-256-256.hdf5
/pyradi/test/image-Zero-256-256.png
/pyradi/test/image-rawFile-512-512.hdf5
/pyradi/test/image-rawFile-512-512.png
/pyradi/sample_all.double
/pyradi/sample_first.double
/pyradi/sample_only.double
/pyradi/scaledouble.py
/pyradi/othercode
/pyradi/ref/LWIR-BBref-150C-150us-1.eps
/pyradi/ref/LWIR-BBref-150C-150us-1.pdf
/pyradi/ref/lwir100mm0150us10ND20090910-Internal.eps
/pyradi/ref/lwir100mm0150us10ND20090910-Internal.pdf
/pyradi/ref/lwir100mm0150us10ND20090910-spectrals.eps
/pyradi/ref/lwir100mm0150us10ND20090910-spectrals.pdf
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-DLTemp.eps
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-DLTemp.pdf
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-TempRadiance.eps
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-TempRadiance.pdf
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-dlRadiance - Copy.eps
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-dlRadiance.eps
/pyradi/ref/lwir100mm0150us10ND20090910CalFilter-dlRadiance.pdf
/pyradi/ref/lwir100mm0150us10ND20090910NoFilter-radiance.eps
/pyradi/ref/lwir100mm0150us10ND20090910NoFilter-radiance.pdf
/pyradi/data/hdf5-old
/pyradi/.vscode
/pyradi/data/image-PtaInd-13Dec14h00X-512-512.hdf5
/pyradi/data/image-PtaInd-13Dec14h00XScaled-512-512.hdf5
/pyradi/image-Disk-256-256.hdf5
/pyradi/image-PtaInd-13Dec14h00X-512-512.hdf5
/pyradi/image-PtaInd-13Dec14h00XScaled-512-512.hdf5
/pyradi/image-StairIR-raw-100-256.hdf5
/pyradi/image-Stairslin-10-250-250.hdf5
/pyradi/image-Stairslin-40-100-520.hdf5
/pyradi/image-Stairslin-LowLight-40-100-520.hdf5
/pyradi/image-StairslinIR-40-100-520.hdf5
/pyradi/image-Uniform-256-256.hdf5
/pyradi/image-Uniform295K-256-256.hdf5
/pyradi/image-Zero-256-256.hdf5
/pyradi/PAOutput.hdf5
/pyradi/PSOutput.hdf5
/pyradi/image-Disk-256-256.png
/pyradi/image-PtaInd-13Dec14h00X-512-512.png
/pyradi/image-PtaInd-13Dec14h00XScaled-512-512-lookup.png
/pyradi/image-PtaInd-13Dec14h00XScaled-512-512.png
/pyradi/image-rawFile-512-512.png
/pyradi/image-rawFileScaled-512-512-lookup.png
/pyradi/image-rawFileScaled-512-512.png
/pyradi/image-StairIR-raw-100-256.png
/pyradi/image-Stairslin-10-250-250-lookup.png
/pyradi/image-Stairslin-10-250-250.png
/pyradi/image-Stairslin-40-100-520-lookup.png
/pyradi/image-Stairslin-40-100-520.png
/pyradi/image-Stairslin-LowLight-40-100-520-lookup.png
/pyradi/image-Stairslin-LowLight-40-100-520.png
/pyradi/image-StairslinIR-40-100-520-lookup.png
/pyradi/image-StairslinIR-40-100-520.png
/pyradi/image-Uniform-256-256.png
/pyradi/image-Uniform295K-256-256-lookup.png
/pyradi/image-Uniform295K-256-256.png
/pyradi/image-Zero-256-256.png
/pyradi/limitzero01.png
/pyradi/limitzero02.png
/pyradi/pyradi.sublime-project
/pyradi/pyradi.sublime-workspace
/pyradi/data/tp40b_AS30Missile_C1.double
/pyradi/test/results-new.txt
/pyradi/test/results-old.txt
/pyradi/text.txt
/pyradi/PAOutput.txt
/pyradi/PSOutput.txt
