include pyradi/README.rst

recursive-include pyradi/data *
recursive-include pyradi/test *
prune pyradi/data/plotspherical

include pyradi/data/plotspherical/*.dat
include pyradi/data/plotspherical/*.txt
include pyradi/data/plotspherical/*.off
include pyradi/data/plotspherical/*.dat

prune pyradi/data/absorptioncoeff

include pyradi/data/absorptioncoeff/*.txt

recursive-include pyradi/doc/_build/html/*
include pyradi/doc/_build/latex/pyradi.pdf
